.item-image-page2{background-size:cover;background-repeat:no-repeat;background-position:center;with:80%;height:90%;margin:auto;}
#i1{background-image:url("./gallery/fanloid.svg");}
#i2{background-image:url("./gallery/geisha.svg");}
#i3{background-image:url("./gallery/middlefinger.svg");}
#i4{background-image:url("./gallery/stargaze.svg");}
#i5{background-image:url("./gallery/feline.svg");}
#i6{background-image:url("./gallery/cybersamuraifront.svg");}
#i7{background-image:url("./gallery/cybersamuraioneplustwo.svg");background-position:left;}
#i8{background-image:url("./gallery/cybersamurai.svg");}
#i9{background-image:url("./gallery/gradientgirl.svg");}
#i10{background-image:url("./gallery/athleticgirl.svg");}
#i11{background-image:url("./gallery/noodle.svg");}